<h1><%= @doctor.name %></h1>

<section id='info-<%= @doctor.id %>'>
  <p><%= @doctor.hospital.name %></p>
  <p><%= @doctor.speciality %></p>
  <p><%= @doctor.school %></p>
</section>

<% @doctor.patients.each do |patient| %>
  <section id='patients-<%= patient.id %>'>
  <p>Name: <%= patient.name %></p>
  <%= button_to "Remove Patient From Caseload", "/doctors/#{@doctor.id}/patients?patient_id=#{patient.id}", method: :delete %>
</section>
<% end %>
